<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level \(%file:%line\) - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level \(%file:%line\) - %msg%n</pattern>
		</encoder>

		<file>log/wallet.log</file>
		<append>true</append>
	</appender>

	<appender name="FORM" class="com.univocity.freecommerce.utils.Appender"/>

	<root level="TRACE">
		<appender-ref ref="FILE"/>
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FORM"/>
	</root>

</configuration>